.DS_Store
.env
.env.local
.env.*.local
dist
dist-ssr
node_modules
*.egg-info
.venv
env/
venv/
.idea
.vscode
*.swp
*.swo
*~
.cache
.parcel-cache
.next
out
.nuxt
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
